@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "comfortaa";
  src: url("/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "sans-expanded";
  src: url("/fonts/EncodeSansExpanded-Regular.ttf");
}

@font-face {
  font-family: "epilogue";
  src: url("/fonts/Epilogue-Regular.ttf");
}

body {
  background-color: #212832;
}
